@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {  
  --header-height: 4rem; /* 64px */
}

html, body, #root {  
  height: 100%;  
  width: 100%;  
  margin: 0;  
  padding: 0;
  overflow-x: hidden;
  }
    
#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}